<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/index.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <div id="loginDialog" class="container ui">
    <form>
      <div class="form-group">
      <input type="text" id="userName" class="form-control" aria-describedby="emailHelp" placeholder="Enter User Name">
      </div>
      <div class="form-group">
        <input type="password" id="password" class="form-control" placeholder="Enter Password">
      </div>
      <div class="btn btn-success" id="btnLogin">Login</div>
      <div class="btn btn-primary"id="btnReg">Register</div>
    </form>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/index.js"></script>

  </body>

</html>
